{% extends "base.html" %}
{% import 'bootstrap_wft.html' as wft %}

{% block content %}
<h1>Edit Profile</h1>
{{ wft.quick_form(form) }}
<!-- <form action="" method="post">
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(size=64) }}
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form> -->
{% endblock %}